/* CLASSES */
.answerChoices {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  div {
    width: 48%;
    margin: 1rem 0;
  }
  input[type=radio] + label {
    background-color: rgb(0, 75, 122);
    border: none;
    display: inline-block;
    border-radius: 0.5rem;
    width: 100%;
    text-align: center;
    height: 3.5rem;
    padding-top: 2.5rem;
    font-size: 0.8rem !important; 
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0,0,0,0.25);

  }
  input[type=radio]:checked + label {
    background: rgb(0, 45, 72);
  }
}
.wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.error {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}
.tenk { width: 100%; }
.eightk { width: 90%; }
.sevenk { width: 80%; }
.sixk { width: 70%; }
.fivek { width: 60%; }
.fourk { width: 50%; }
.threek { width: 40%; }
.twok { width: 30%; }
.onek { width: 20%; }
.pointfive { width: 15%; }
.nameAnimate {
  animation: 2s ease-out 0s normal none name;  
}
.yourTurn {
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(255, 255, 255, 0.5);
  background: rgb(123, 40, 70);
  color: #ffe;
  width: auto;
  border-radius: 0.5rem;
  text-align: center;
  margin-top: 1rem;
}