/* Import font */
@font-face {
  font-family: 'Bangla MN';
  src: url("/fonts/Bangla MN.ttf"); }

body {
  background: url("/assets/img/congruent_pentagon.png") repeat 0 0;
  animation: 50s linear 0s normal none infinite back_animate;
  padding: 2rem;
  font-family: 'Bangla MN'; }

input[type=radio] {
  -webkit-appearance: none; }

/* BY ID */
/* THE SECTION FOR THE POINT SCALES */
#pOneScores, #pTwoScores {
  width: 80%; }
  #pOneScores p, #pTwoScores p {
    border: 0.04rem solid #333;
    padding: 1rem 0;
    text-align: center;
    border-radius: 0.25rem;
    background-color: #91a2ff;
    visibility: hidden; }
  #pOneScores h3, #pTwoScores h3 {
    font-weight: bold;
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem; }

#pTwoScores p {
  margin: auto 0 auto auto; }

#main {
  width: 100%;
  background-color: #E7D8F9;
  border-radius: 0.5rem;
  border: 1px solid #cbbae0;
  margin: 5rem;
  padding: 1rem;
  /* INPUTS ON THE FIRST VIEW */ }
  #main form {
    padding: 2rem; }
  #main h1 {
    font-size: 1.5rem;
    text-align: center;
    padding: 3rem 0; }
  #main p {
    padding: 1rem 0; }
  #main label {
    font-size: 1.2rem; }
  #main input[type=text], #main select {
    display: block;
    width: 100%;
    margin: 0.5rem 0; }
  #main input[type=text] {
    height: 2rem; }
  #main select {
    height: 2.5rem;
    padding: 0 0 0 0.5rem;
    cursor: pointer; }

/* STYLE THE BUtTONS */
#submitBtn, #confirmBtn {
  width: 100%;
  height: 2.5rem;
  cursor: pointer; }

/* TEXT AFTER GAME IS WON */
#winner {
  font-size: 2rem;
  text-align: center; }

#playAgain {
  margin: 0 auto;
  text-align: center;
  background: orange;
  width: 6rem;
  border-radius: 0.4rem;
  cursor: pointer; }
  #playAgain a {
    padding: 0.5rem;
    text-decoration: none; }

/* CLASSES */
.answerChoices {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center; }
  .answerChoices div {
    width: 48%;
    margin: 1rem 0; }
  .answerChoices input[type=radio] + label {
    background-color: #ff68f5;
    display: inline-block;
    border-radius: 0.5rem;
    width: 100%;
    text-align: center;
    height: 3.5rem;
    padding-top: 0.75rem;
    cursor: pointer;
    box-shadow: 2px 2px 2px #000000; }
  .answerChoices input[type=radio]:checked + label {
    background: green; }

.wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center; }

.tenk {
  width: 100%; }

.eightk {
  width: 90%; }

.sevenk {
  width: 80%; }

.sixk {
  width: 70%; }

.fivek {
  width: 60%; }

.fourk {
  width: 50%; }

.threek {
  width: 40%; }

.twok {
  width: 30%; }

.onek {
  width: 20%; }

.pointfive {
  width: 15%; }

/* KEYFRAMES  */
@keyframes back_animate {
  0% {
    background-position: 0 0; }
  25% {
    background-position: 0 500px; }
  50% {
    background-position: 500px 0; }
  75% {
    background-position: 0 -500px; }
  100% {
    background-position: -500 0; } }
