/* Import font */
@font-face {
  font-family: 'Bangla MN';
  src: url('/fonts/Bangla MN.ttf');
}

body {
  background: url('/assets/congruent_pentagon.png') repeat 0 0;
  animation: 50s linear 0s normal none infinite back_animate;
  padding: 2rem;
  font-family: 'Bangla MN';
}
input[type=radio] {
  -webkit-appearance: none;
}
/* BY ID */
#pOneScores, #pTwoScores {
  // visibility: hidden;
  width: 80%;
  p {
    border: 1px solid black;
    padding: 1rem 0;
    text-align: center;
    border-radius: 0.25rem;
  }
}
#pTwoScores {
  p {
    margin: auto 0 auto auto;
  }
  
}
#main {
  width: 100%;
  // padding: 4rem;
  border: 1px solid red;
  margin: 5rem;  
  background: rgba(255,255,255,0.5);
  form {
    padding: 2rem;
  }
  h1 {
    font-size: 2rem;
    text-align: center;
    padding: 3rem 0;
  }
  p {
    padding: 1rem 0;
  }
  label {
    font-size: 1.2rem;
  }
  input[type=text], select {
    display: block;
    height: 1.5rem;
    width: 100%;
    margin: 0.5rem 0;
  }
}
/* CLASSES */
.answerChoices {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  div {
    width: 48%;
    margin: 1rem 0;
  }
  input[type=radio] + label {
    background-color: #e7e7e7;
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 2.5rem;
    padding-top: 0.75rem;
  }
  input[type=radio]:checked + label {
    background: green;
  }
}
.wrapper {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.tenk { width: 100%; visibility: hidden; }
.eightk { width: 90%; visibility: hidden;  }
.sevenk { width: 80%; visibility: hidden;  }
.sixk { width: 70%; visibility: hidden;  }
.fivek { width: 60%; visibility: hidden;  }
.fourk { width: 50%; visibility: hidden;  }
.threek { width: 40%; visibility: hidden;  }
.twok { width: 30%; visibility: hidden;  }
.onek { width: 20%; visibility: hidden;  }
.pointfive { width: 15%; visibility: hidden;  }
 /* KEYFRAMES  */
@keyframes back_animate {
  0% { background-position: 0 0; }
	25% { background-position: 0 500px; }  
  50% { background-position: 500px 0; }
  75% { background-position: 0 -500px; }
	100% { background-position: -500 0; }
  
}

